

.nav{
    color: #fff;
    background: $Green;
    height: 45px;
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 1;
    box-shadow: -2px 13px 26px -9px rgba(0,0,0,0.51);
    
    ul{
        margin: 0;
        padding: 0;
        list-style: none;
        text-decoration: none;
        display: flex;
            // justify-content: center;
    align-items: center;
        li{
            padding: 10px;
        }
    }
    .nav-links{
        flex: 1;
        font-size: .7em;
        letter-spacing: 6px;
    }
    // .social-links{

    // }
    
}